.container {
  border: 3px solid black;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  margin: 0 auto;
  background-color: rgb(241, 239, 239);
  overflow: hidden;
  padding-top: 20px;
}

.avatar {
  background-color: rgb(32, 32, 31);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.text {
  font-size: 22px;
  color: rgb(151, 151, 151);
  padding-bottom: 20px;
}

.list {
  border-top: 2px solid rgb(110, 109, 109);
  display: flex;
  justify-content: space-between;
  background-color: rgb(160, 159, 158);
}

.item {
  padding: 18px 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid rgb(143, 141, 141);
}

.itemTitle {
  font-size: 22px;
}

.itemStats {
  font-size: 20px;
}
