.header {
  background-color: #573b3b;
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}

.error {
  color: red;
}
