.container {
  margin: 0 auto;
  margin-top: 20px;
}

.list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
}

.item {
  /* display: flex; */
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
}

img {
  margin: 0 auto;
  margin-top: 10px;
  width: 64px;
}
